<p id="notice"><%= notice %></p>

<p>
  <strong>Chef Name:</strong>
  <%= @chef %>
</p>

<p>
  <strong>Is the Head Chef of:</strong>
  <%= @restaurant.name %>
</p>

<%= link_to 'Back', restaurants_path %>
