<h1>Leave a review for <%= @restaurant.name %></h1>
<p>Please be kind</p>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Submit Review", class: 'btn btn-info' %>
<% end %>
